<footer class="ftco-bg-dark">

  <div class="container">
    <div class="row mb-1">
      <div class="col-md">
        <div class="ftco-footer-widget mb-1 col-md-12">
          <br>
          <ul style="text-align: center; margin-bottom: 10px; padding-left: 0px; padding-right: 0px;">
            <a href="https://twitter.com/djcafrica" class="fa fa-twitter fa-2x"></a>
           <a href="https://github.com/djangocon" class="fa fa-github fa-2x"></a>
           <a href="https://facebook.com/djcafrica" class="fa fa-facebook-square fa-2x"></a>
           <a href="mailto:{{ site.email }}" class="fa fa-envelope fa-2x"></a>
          </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="footer-copyright text-center py-3" style="color: white;">
            © 2020 DjangoCon Africa
          </div>
        </div>
      </div>
  </div>
</footer>