<footer>
    <div class="container">
        <div class="content">
            <div class="footer-logo">
               <a href="/"><img src="static/img/site/logo.svg" weight="185" /></a>
            </div>

            <div className="footer-icons">
                <!-- Github -->
                <a href="{{ site.github }}" target="_blank">
                    <img class="icon" src="/static/img/site/github.svg"
                        alt="Github" /></a>
                    <!-- Twitter -->
                <a href="{{ site.twitter }}" target="_blank">
                    <img class="icon" src="/static/img/site/twitter.svg"
                        alt="Twitter" /></a>
                    <!-- Facebook -->
                <a href="{{ site.facebook }}" target="_blank">
                    <img class="icon" src="/static/img/site/facebook.svg"
                        alt="Facebook" /></a>
                    <!-- Email -->
                <a href="mailto:{{ site.contact_us_email }}">
                    <img class="icon" src="/static/img/site/email.svg"
                        alt="Email" /></a>
            </div>
        </div>

        <div class="links">
            <div>Design by <span class="link designer">
                <a href="https://www.linkedin.com/in/hopeadoli/"
                        target="_blank">Hope Adoli</a>
                    </span>
                </div>
            <div class="djc-events">
                Other Django Events: 
                    <span class="link">
                    <a href="{{ site.djc_us }}" target="_blank">DjangoCon US</a>
                    </span> •
                    <span class="link">
                        <a href="{{ site.djc_eu }}" target="_blank">DjangoCon Europe</a>
                    </span> •
                    <span class="link">
                        <a href="{{ site.djc_au }}" target="_blank">DjangoCon Australia</a>
                    </span>
            </div>
        </div>
    </div>
</footer>