<div class="hero">
  {% include nav.html %}
  <div class="container hero">
    <div class="hero-text">
      A {{ site.conference_duration_days }}-day international conference for the community by the community
    </div>
   
    <div class="description">
      <img src="/static/img/site/arrow.svg" />
      <div class="text">
        Whether you're a seasoned practitioner or just starting out, you'll leave with new skills, best practices, and
        innovative ideas!
      </div>
    </div>
<div class="hero-date">
  <p>
    <span class="icon-hero"><img src="/static/img/site/calendar.svg" alt="calendar"></span><strong>{{
      site.conference_dates}}</strong>
    </p>
  <p><span class="icon-hero"><img src="/static/img/site/location.svg" alt="location"></span><strong><a style="color: #e87155;" href="https://goo.gl/maps/yoDQFFxQhhEjgHDh9">{{
      site.location }}</a></strong></p>
</div>

    <div class="header-img">
      <img src="/static/img/site/header_img.png" />
    </div>
  </div>

  
</div>

<div class="hero-empty"></div>