<div class="hero">
  {% include nav.html %}
  <div class="container hero">
    <div class="hero-text">
      A {{ site.conference_duration_days }}-day international conference for the community by the community
    </div>

    <div class="hero-date">
      <p><strong>{{ site.conference_dates }}</strong></p>
      <p><strong>{{ site.host_city_and_country }}</strong></p>
    </div>

    <div class="description">
      <img src="/static/img/site/arrow.svg" />
      <div class="text">
        Whether you're a seasoned practitioner or just starting out, you'll leave with new skills, best practices, and innovative ideas!
      </div>
     
    </div>

    <div class="header-img">
      <img src="/static/img/site/header_img.png" />
    </div>
  </div>
</div>

<div class="hero-empty"></div>
