<div class="django-svg">
  <img src="/static/img/site/django.svg" />
</div>

<div class="info mini-container">
  DjangoCon Africa will be held in Accra, Ghana for the first time ever, made up of Django
  practitioners from all levels. We welcome people from all over the world. Our conference seeks to
  educate and develop new skills, best practices and ideas for the benefit of attendees, developers,
  speakers and everyone in our global Django Community, not least those watching the talks online.
</div>
