<nav>
  <div class="nav container">
    <div class="logo">
      <a class="navbar-brand" href="/">
        <img class="header-logo" src="{{site.logo}}" alt="Logo" height="45px" />
      </a>
    </div>
    <div class="date">
      <div>{{ site.conference_dates }}</div>
     <div><a href="https://goo.gl/maps/yoDQFFxQhhEjgHDh9">{{ site.host_city_and_country }}</a></div>
    </div>
    <div class="button">
    
      <button class="ticket" onclick="window.location.href='/get-ticket'">GET TICKETS</button>
     
      <button class="hamburger">
        <svg width="28" height="18" viewBox="0 0 28 18" fill="none" xmlns="http://www.w3.org/2000/svg" class="menuIcon">
          <path d="M0 1H28" stroke="black" stroke-width="2" />
          <path d="M0 9H28" stroke="black" stroke-width="2" />
          <path d="M0 17H28" stroke="black" stroke-width="2" />
        </svg>
        <svg width="18" height="18" viewBox="0 0 22 22" fill="none" class="closeIcon"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M1.10059 1.10059L20.8996 20.8996" stroke="black" stroke-width="2" />
          <path d="M1 20.7991L20.799 1.00008" stroke="black" stroke-width="2" />
        </svg>
      </button>
    </div>
  </div>
  <ul class="menu">
    {% for item in site.data.nav %}
    {% if item.sublink %}
    <li class="menu__item menu__item--has-sublinks">
      <div class="menu__item-container">
        <a class="menu__link menu__link--expandable" aria-expanded="false">{{ item.name }}</a>
        <div class="menu__dropdown-icon">
          <svg width="11" height="17" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L9 8.5L1 16" stroke="black" stroke-width="1.5" />
          </svg>
        </div>
      </div>
      <div class="menu__sublinks" aria-hidden="true">
        <div class="menu__sublinks-container">
          {% for subitem in item.sublink %}
          <a class="menu__sublink" href="{{subitem.link}}">{{subitem.name}}</a>
          {% endfor %}
        </div>
      </div>
    </li>
    {% else %}
    <li class="menu__item">
      <a class="menu__link {% if item.link == page.url %} active {% endif %}" href="{{ item.link }}">{{
        item.name }}</a>
    </li>
    {% endif %}
    {% endfor %}
    <button class="ticket-mb" onclick="window.location.href='/get-ticket'">GET TICKETS</button>
  </ul>
</nav>