<nav>
  <div class="nav container">
    <div class="logo">
      <a class="navbar-brand" href="/">
        <img class="header-logo" src="{{site.logo}}" alt="Logo" height="45px" />
      </a>
    </div>
    <div class="date">
      <div>{{ site.conference_dates }}</div>
      <div>{{ site.host_city_and_country }}</div>
    </div>
    <div class="button">
      {% comment %}
      Uncomment when we are selling tickets
       <button class="ticket">GET TICKETS</button>
       {% endcomment %}
      <button class="hamburger">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="menuIcon"
        >
          <path d="M0 1H28" stroke="black" stroke-width="2" />
          <path d="M0 9H28" stroke="black" stroke-width="2" />
          <path d="M0 17H28" stroke="black" stroke-width="2" />
        </svg>
        <svg
          width="18"
          height="18"
          viewBox="0 0 22 22"
          fill="none"
          class="closeIcon"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M1.10059 1.10059L20.8996 20.8996" stroke="black" stroke-width="2" />
          <path d="M1 20.7991L20.799 1.00008" stroke="black" stroke-width="2" />
        </svg>
      </button>
    </div>
      <div class="mobile-menu ml-auto" onclick="openNav()">
        <!-- <img src="/static/img/site/africa.svg" style="height: 30px; width: 30px;" alt="menu"><br>
        <span><strong>Menu</strong></span> -->
          <button class="hamburger-mb">
            <svg width="28" height="18" viewBox="0 0 28 18" fill="none" xmlns="http://www.w3.org/2000/svg" class="menuIcon">
              <path d="M0 1H28" stroke="black" stroke-width="2" />
              <path d="M0 9H28" stroke="black" stroke-width="2" />
              <path d="M0 17H28" stroke="black" stroke-width="2" />
            </svg>
            <svg width="18" height="18" viewBox="0 0 22 22" fill="none" class="closeIcon" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.10059 1.10059L20.8996 20.8996" stroke="black" stroke-width="2" />
              <path d="M1 20.7991L20.799 1.00008" stroke="black" stroke-width="2" />
            </svg>
          </button>
    </div>
    <div id="myNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      
      <div class="overlay-content">
        {% for item in site.data.nav %}
        <a class="{% if item.link == page.url %} active {% endif %}" href="{{ item.link }}"
      >{{ item.name }}</a>
      {% endfor %}
    </div>
    </div>
  </div>
  <ul class="menu">
    {% for item in site.data.nav %}
    <li>
      <a class="menuItem {% if item.link == page.url %} active {% endif %}" href="{{ item.link }}"
        >{{ item.name }}</a
      >
    </li>
    {% endfor %}
  </ul>
</nav>
