  <nav class="navbar fixed-top navbar-expand-lg ftco-navbar-light">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="iconify icon:oi-menu icon-inline:false"></span>
      </button>
      <!-- Brand logo Display -->
      {% if page.url == "/" %}
      <!-- Do nothing here -->
      {% else %}
      <a class="navbar-brand" href="/"><img src="/static/images/logo.png" alt="Logo" height="60px"></a>
      {% endif %}

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">  
            {% for item in site.data.nav %}
           
           {% if item.sublink  %}
           <li class="nav-item dropdown">
            <a class="{% if page.url == '/' %} nav-link {% else %} nav-lin {% endif %} dropdown-toggle" href="{{ item.link }}" id="navbarDropdownMenuLink" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ item.name }}</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% for subitem in item.sublink %}
                  <a class="dropdown-item" href="{{subitem.link}}">{{subitem.name}}</a>
            {% endfor %}
          </div>
        </li>
            {% else %}
            {% if page.url == "/" %}
            <li class="nav-item"><a href="{{ item.link }}" class="nav-link"> {{ item.name }} </a></li>
            {% else %}
            <li class="nav-item {% if item.link == page.url %} active {% endif %}">
              <a href="{{ item.link }}" class="nav-lin"> {{ item.name }} </a></li>
           {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
      </div>
    </div>
  </nav>