<div id="talkModal" class="modal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content" style="background-color: #ffffff">
            <div class="modal-header">
                <button type="button" id="closeModal" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <p id="talkDescription"></p>

                <div class="modal-image-speaker">
                    <img class="rounded-circle" id="photo" src="" alt="speaker Image"
                        style="width: 75px; height: 75px; display: none;">
                   <strong><p id="speakerName"></p></strong>
                </div>
                <div class="centered-list">
                    <ul id="socialLinks">
                        <li><a id="twitterLink" href="#" target="_blank">Twitter</a></li>
                        <li><a id="linkedinLink" href="#" target="_blank">LinkedIn</a></li>
                        <li><a id="mastodonLink" href="#" target="_blank">Mastodon</a></li>
                        <li><a id="websiteLink" href="#" target="_blank">Website</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-day-one-tab" data-bs-toggle="pill" data-bs-target="#pills-day-one" type="button"
            role="tab" aria-controls="pills-day-one" aria-selected="false" data-date="2023-11-07">Talks: Day 1</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-day-two-tab" data-bs-toggle="pill" data-bs-target="#pills-day-two"
            type="button" role="tab" aria-controls="pills-day-two" aria-selected="false" data-date="2023-11-08">Talks:
            Day 2</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-day-three-tab" data-bs-toggle="pill" data-bs-target="#pills-day-three"
            type="button" role="tab" aria-controls="pills-day-three" aria-selected="false" data-date="2023-11-09">Talks:
            Day 3</button>
    </li>
</ul>



<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-day-one" role="tabpanel" aria-labelledby="pills-day-one-tab"
        tabindex="0">
        <table class="table-schedules">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Schedules</th>
                </tr>
            </thead>
            <tbody>
                {% for item in site.data.schedule %}
                {% if item.day == 1 %}
                {% assign current_date = "now" | date: "%m-%d-%Y" %}
                {% assign current_time = "now" | date: "%l:%M" %}
                {% for event in item.events %}
                {% assign event_start_time = event.time | split: " - " | first | date: "%l:%M" %}
                {% assign event_end_time = event.endtime | split: " - " | last | date: "%l:%M" %}
                {% assign event_date = event.date | date: "%m-%d-%Y" %}
                <tr>
                    <td>
                        {{ event_start_time }} - {{ event_end_time }}
                    </td>
                    <td>
                        <div class="event-card {% unless event.speaker %}red{% endunless %} {% if  current_date == event_date and current_time >= event_start_time and current_time <= event_end_time %}highlight-ongoing{% endif %}"
                            data-description="{{ event.description }}" data-twitter="{{ event.twitter }}"
                            data-linkedin="{{ event.linkedin }}" data-mastodon="{{ event.mastodon }}"
                            data-website="{{ event.website }}" data-image="{{event.image}}"
                            data-speaker="{{event.speaker}}">


                            {% if event.speaker %}
                            <div>
                                <h3><strong>{{ event.title }}</strong></h3>
                                <span class="button-container">
                                    <button class="button-talk" style="color: #3498db;">{{event.event}}</button>
                                    <button class="button-talk" style="color: #e74c3c">{{event.category}}</button>
                                </span><br>

                                <div class="speaker-info">

                                    <div class="image-container">
                                        {% if event.image %}

                                        <img class="rounded-circle" src="/static/img/speakers/{{ event.image }}"
                                            alt="speaker Image" style="width: 50px; height: 50px;">
                                        {%endif%}
                                    </div>
                                    <div class="name-container">
                                        <h4>{{ event.speaker }}</h4>
                                    </div>
                                </div>


                            </div>
                            {%else%}
                            <h3><strong>{{ event.event }}</strong></h3>
                            {% endif %}
                            {% if current_date == event_date and current_time >= event_start_time and current_time <=
                                event_end_time %} <h5 class="badge">Ongoing 😉</h5>
                                {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="tab-pane fade" id="pills-day-two" role="tabpanel" aria-labelledby="pills-day-two-tab" tabindex="0">
        <table class="table-schedules">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Schedules</th>
                </tr>
            </thead>
            <tbody>
                {% for item in site.data.schedule %}
                {% if item.day == 2 %}
                {% assign current_date = "now" | date: "%m-%d-%Y" %}
                {% assign current_time = "now" | date: "%l:%M" %}
                {% for event in item.events %}
                {% assign event_start_time = event.time | split: " - " | first | date: "%l:%M" %}
                {% assign event_end_time = event.endtime | split: " - " | last | date: "%l:%M" %}
                {% assign event_date = event.date | date: "%m-%d-%Y" %}
                <tr>
                    <td>
                        {{ event_start_time }} - {{ event_end_time }}
                    </td>
                    <td>
                        <div class="event-card {% unless event.speaker %}red{% endunless %} {% if  current_date == event_date and current_time >= event_start_time and current_time <= event_end_time %}highlight-ongoing{% endif %}"
                            data-description="{{ event.description }}" data-twitter="{{ event.twitter }}"
                            data-linkedin="{{ event.linkedin }}" data-mastodon="{{ event.mastodon }}"
                            data-website="{{ event.website }}" data-image="{{event.image}}"
                            data-speaker="{{event.speaker}}">


                            {% if event.speaker %}
                            <div>
                                <h3><strong>{{ event.title }}</strong></h3>
                                <span class="button-container">
                                    <button class="button-talk" style="color: #3498db;">{{event.event}}</button>
                                    <button class="button-talk" style="color: #e74c3c">{{event.category}}</button>
                                </span><br>

                                <div class="speaker-info">

                                    <div class="image-container">
                                        {% if event.image %}

                                        <img class="rounded-circle" src="/static/img/speakers/{{ event.image }}"
                                            alt="speaker Image" style="width: 50px; height: 50px;">
                                        {%endif%}
                                    </div>
                                    <div class="name-container">
                                        <h4>{{ event.speaker }}</h4>
                                    </div>
                                </div>


                            </div>
                            {%else%}
                            <h3><strong>{{ event.event }}</strong></h3>
                            {% endif %}
                            {% if current_date == event_date and current_time >= event_start_time and current_time <=
                                event_end_time %} <h5 class="badge">Ongoing 😉</h5>
                                {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="tab-pane fade" id="pills-day-three" role="tabpanel" aria-labelledby="pills-day-three-tab" tabindex="0">
        <table class="table-schedules">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Schedules</th>
                </tr>
            </thead>
            <tbody>
                {% for item in site.data.schedule %}
                {% if item.day == 3 %}
                {% assign current_date = "now" | date: "%m-%d-%Y" %}
                {% assign current_time = "now" | date: "%l:%M" %}
                {% for event in item.events %}
                {% assign event_start_time = event.time | split: " - " | first | date: "%l:%M" %}
                {% assign event_end_time = event.endtime | split: " - " | last | date: "%l:%M" %}
                {% assign event_date = event.date | date: "%m-%d-%Y" %}
                <tr>
                    <td>
                        {{ event_start_time }} - {{ event_end_time }}
                    </td>
                    <td>
                        <div class="event-card {% unless event.speaker %}red{% endunless %} {% if  current_date == event_date and current_time >= event_start_time and current_time <= event_end_time %}highlight-ongoing{% endif %}"
                            data-description="{{ event.description }}" data-twitter="{{ event.twitter }}"
                            data-linkedin="{{ event.linkedin }}" data-mastodon="{{ event.mastodon }}"
                            data-website="{{ event.website }}" data-image="{{event.image}}"
                            data-speaker="{{event.speaker}}">


                            {% if event.speaker %}
                            <div>
                                <h3><strong>{{ event.title }}</strong></h3>
                                <span class="button-container">
                                    <button class="button-talk" style="color: #3498db;">{{event.event}}</button>
                                    <button class="button-talk" style="color: #e74c3c">{{event.category}}</button>
                                </span><br>

                                <div class="speaker-info">

                                    <div class="image-container">
                                        {% if event.image %}

                                        <img class="rounded-circle" src="/static/img/speakers/{{ event.image }}"
                                            alt="speaker Image" style="width: 50px; height: 50px;">
                                        {%endif%}
                                    </div>
                                    <div class="name-container">
                                        <h4>{{ event.speaker }}</h4>
                                    </div>
                                </div>


                            </div>
                            {%else%}
                            <h3><strong>{{ event.event }}</strong></h3>
                            {% endif %}
                            {% if current_date == event_date and current_time >= event_start_time and current_time <=
                                event_end_time %} <h5 class="badge">Ongoing 😉</h5>
                                {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

<script>
    // JavaScript to handle the modal dialog
    document.addEventListener("DOMContentLoaded", function () {
        const modal = document.getElementById("talkModal");
        const closeModal = document.getElementById("closeModal");
        const talkDescription = document.getElementById("talkDescription");
        const socialLinks = document.getElementById("socialLinks");
        const twitterLink = document.getElementById("twitterLink");
        const linkedinLink = document.getElementById("linkedinLink");
        const mastodonLink = document.getElementById("mastodonLink");
        const websiteLink = document.getElementById("websiteLink");
        const avatar = document.getElementById("photo");
        const speaker_name = document.getElementById("speakerName");

        // Add event listeners to open and close the modal
        const talks = document.querySelectorAll(".event-card");
        talks.forEach(talk => {
            talk.addEventListener("click", function () {
                const description = talk.dataset.description;
                const twitter = talk.dataset.twitter;
                const linkedin = talk.dataset.linkedin;
                const mastodon = talk.dataset.mastodon;
                const website = talk.dataset.website;
                const photo = talk.dataset.image;
                const speaker = talk.dataset.speaker;

                talkDescription.textContent = description;

                if (speaker) {


                    if (twitter) {
                        twitterLink.href =  "{{ site.t }}/" + twitter;
                        twitterLink.style.display = "block";
                    } else {
                        twitterLink.style.display = "none";
                    }

                    if (linkedin) {
                        linkedinLink.href = "{{ site.l }}/"+linkedin;
                        linkedinLink.style.display = "block";
                    } else {
                        linkedinLink.style.display = "none";
                    }

                    if (website) {
                        websiteLink.href = website;
                        websiteLink.style.display = "block";
                    } else {
                        websiteLink.style.display = "none";
                    }

                    if (mastodon) {
                        mastodonLink.href = mastodon;
                        mastodonLink.style.display = "block";
                    } else {
                        mastodonLink.style.display = "none";
                    }


                    if (photo) {
                        avatar.src = "/static/img/speakers/" + photo;
                        avatar.style.display = "block";
                    } else {
                        avatar.style.display = "none";
                    }

                    if (speaker) {
                        speakerName.textContent = speaker;
                        speakerName.style.display = "block";
                    } else {
                        speakerName.style.display = "none";
                    }

                    modal.style.display = "block";

                }

                else {
                    modal.style.display = "none";
                }



            });
        });

        closeModal.addEventListener("click", function () {
            modal.style.display = "none";
        });

        window.addEventListener("click", function (event) {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        });
    });

// Tabs activation based on the date
    var current_date = new Date();
    var day = current_date.getDate();
    var month = current_date.getMonth() + 1; 
    var year = current_date.getFullYear();

    // Format the date in YYYY-MM-DD format
    var formattedDate = year + '-' + (month < 10 ? '0' : '') + month + '-' + (day < 10 ? '0' : '') + day;

    var tabs = document.querySelectorAll('.nav-link');
    tabs.forEach(function (tab) {
        if (tab.getAttribute('data-date') === formattedDate) {
            tab.classList.add('active');
            tab.setAttribute('aria-selected', 'true');
        } else {
            tab.classList.remove('active');
            tab.setAttribute('aria-selected', 'false');
        }
    });

</script>