<div class="mini-container roadmap-section">
  <h3 class="heading">Our Roadmap</h3>

  <!-- Roadmaps -->
  <div class="roadmaps">
    {% for month in site.data.roadmap %}
    <!-- {{ month.month }} -->
    <div class="roadmap">
      <div class="month sub-heading">{{ month.month }}</div>
      <div class="dates">
        {% for date in month.dates %}
        <div class="dateAndIcon" data-event-date="{{ date.date }}">
          <span class="checkIcon">
            <img id="check" src="/static/img/site/check.svg" />
            <img id="uncheck" src="/static/img/site/uncheck.svg" />
          </span>
          <span class="date">
            {{ date.dateCardinal }} - {% if date.url %}
            <a href="{{ date.url }}">{{ date.text }}</a>
            {% else %} {{ date.text }} {% endif %}
          </span>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
