<div class="mini-container roadmap-section">
  <h3 class="heading">Our Roadmap</h3>

  <!-- Roadmaps -->
  <div class="roadmaps">
    <!-- Month Roadmap -->

    <!-- May -->
    <div class="roadmap">
      <div class="month sub-heading">May</div>
      <div class="dates">
        <div class="dateAndIcon">
          <span class="checkIcon">
            <img src="/static/img/site/check.svg" />
          </span>
          <span class="date"> 16th - Super Early Bird Ticket sales open </span>
        </div>
        <div class="dateAndIcon">
          <span class="checkIcon">
            <img src="/static/img/site/check.svg" />
          </span>
          <span class="date"> 18th - Grant applications' form open </span>
        </div>
        <div class="dateAndIcon">
          <span class="checkIcon">
            <img src="/static/img/site/check.svg" />
          </span>
          <span class="date"> 23rd - Call for Participation opens </span>
        </div>
      </div>
    </div>

    <!-- June -->
    <div class="roadmap">
      <div class="month sub-heading">June</div>
      <div class="dates">
        <div class="dateAndIcon">
          <span class="checkIcon">
            <img src="/static/img/site/check.svg" />
          </span>
          <span class="date"> 1st - Super Early Bird Ticket sales close </span>
        </div>
      </div>
    </div>

    <!-- July -->
    <div class="roadmap">
      <div class="month sub-heading">July</div>
      <div class="dates">
        <div class="dateAndIcon">
          <span class="checkIcon">
            <img src="/static/img/site/check.svg" />
          </span>
          <span class="date"> 31st - Call for Participation deadline </span>
        </div>
      </div>
    </div>

    <!-- August -->
    <div class="roadmap">
      <div class="month sub-heading">August</div>
      <div class="dates">
        <div class="dateAndIcon">
          <span class="checkIcon">
            <img src="/static/img/site/check.svg" />
          </span>
          <span class="date">1st - Early Bird Ticket sales close</span>
        </div>
        <div class="dateAndIcon">
          <span class="checkIcon">
            <img src="/static/img/site/check.svg" />
          </span>
          <span class="date">15th - Grants application deadline</span>
        </div>
      </div>
    </div>

    <!-- September -->
    <div class="roadmap">
      <div class="month sub-heading">September</div>
      <div class="dates">
        <div class="dateAndIcon">
          <span class="checkIcon">
            <img src="/static/img/site/check.svg" />
          </span>
          <span class="date">1st - Early Bird Ticket sales close</span>
        </div>
        <div class="dateAndIcon">
          <span class="checkIcon">
            <img src="/static/img/site/check.svg" />
          </span>
          <span class="date">15th - Grants application deadline</span>
        </div>
      </div>
    </div>

    <!-- October -->
    <div class="roadmap">
      <div class="month sub-heading">October</div>
      <div class="dates">
        <div class="dateAndIcon">
          <span class="checkIcon">
            <img src="/static/img/site/check.svg" />
          </span>
          <span class="date">23rd, 24th, 25th - Main Conference @ Movenpick Hotel</span>
        </div>
        <div class="dateAndIcon">
          <span class="checkIcon">
            <img src="/static/img/site/check.svg" />
          </span>
          <span class="date">25th - Afterparty @ Hillbury Gardens</span>
        </div>
      </div>
    </div>
  </div>
</div>
