<h3 class="heading">Sponsors</h3>
<p class="sub-text">
  DjangoCon Africa is made possible by the generous sponsorships of various teams and organisations
  around the world. If you’ll like to sponsor us, please <strong><a href="#">click here.</a></strong
  >.
</p>

<div class="sponsor-section">
  <div class="sub-heading">Diamond</div>

  <div class="sponsor-images">
    <div class="sponsor">
      <img src="/static/img/site/google.png" height="45px" />
    </div>
    <div class="sponsor">
      <img src="/static/img/site/facebook.png" height="45px" />
    </div>
  </div>
</div>

<div class="sponsor-section">
  <div class="sub-heading">Platinum</div>

  <div class="sponsor-images">
    <div class="sponsor">
      <img src="/static/img/site/google.png" height="45px" />
    </div>
    <div class="sponsor">
      <img src="/static/img/site/facebook.png" height="45px" />
    </div>
    <div class="sponsor">
      <img src="/static/img/site/google.png" height="45px" />
    </div>
    <div class="sponsor">
      <img src="/static/img/site/facebook.png" height="45px" />
    </div>
    <div class="sponsor">
      <img src="/static/img/site/google.png" height="45px" />
    </div>
    <div class="sponsor">
      <img src="/static/img/site/facebook.png" height="45px" />
    </div>
  </div>
</div>

<div class="sponsor-section">
  <div class="sub-heading">Gold</div>

  <div class="sponsor-images">
    <div class="sponsor">
      <img src="/static/img/site/google.png" height="45px" />
    </div>
    <div class="sponsor">
      <img src="/static/img/site/facebook.png" height="45px" />
    </div>
    <div class="sponsor">
      <img src="/static/img/site/google.png" height="45px" />
    </div>
    <div class="sponsor">
      <img src="/static/img/site/facebook.png" height="45px" />
    </div>
    <div class="sponsor">
      <img src="/static/img/site/google.png" height="45px" />
    </div>
    <div class="sponsor">
      <img src="/static/img/site/facebook.png" height="45px" />
    </div>
    <div class="sponsor">
      <img src="/static/img/site/google.png" height="45px" />
    </div>
    <div class="sponsor">
      <img src="/static/img/site/facebook.png" height="45px" />
    </div>
    <div class="sponsor">
      <img src="/static/img/site/google.png" height="45px" />
    </div>
    <div class="sponsor">
      <img src="/static/img/site/facebook.png" height="45px" />
    </div>
    <div class="sponsor">
      <img src="/static/img/site/google.png" height="45px" />
    </div>
    <div class="sponsor">
      <img src="/static/img/site/facebook.png" height="45px" />
    </div>
  </div>
</div>
