<div class="container">
  <p>
    The dream of having the first ever DjangoCon in Africa was made possible by the awesome people
    who spent a lot of time putting things together. Thank you to all our volunteers who make
    DjangoCon Africa happen!
  </p>

  <h2>Conference Team</h2> <br>
  <div class="content-wrapper slide">
    {% for team in site.organizers %}
    <div class="main-card">

      <div class="card-img">
        <img class="team-img" src="{{ team.photo_url }}" alt="{{ team.name }}" width="280px" height="280px" />
      </div>

      <div class="card-txt-bg">
        
        <h5 class="team-name">{{ team.name }}</h5>
         <h1 class="role">{{ team.role }}</h1>
        
         <div class="left"></div>
          <div class="right"></div>
        <div class="progress"></div>

        <div className="icons">
          <!-- github -->
          {% if team.github != "" %}
          <a href="{{ site.g }}/{{ team.github }}" target="_blank">
            <img class="social-icon" src="/static/img/site/pgithub.svg" alt="Github" />
          </a>
          {% endif %}
          <!-- twitter -->
          {% if team.twitter != "" %}
          <a href="{{ site.t }}/{{ team.twitter }}" target="_blank">
            <img class="social-icon" src="/static/img/site/ptwitter.svg" alt="Twitter" />
          </a>
          {% endif %}
          <!-- linkedin -->
          {% if team.linkedin != "" %}
          <a href="{{ site.l }}/{{ team.linkedin }}" target="_blank">
            <img class="social-icon" src="/static/img/site/plinkedin.svg" alt="Facebook" />
          </a>
          {% endif %}
          <!-- website -->
          {% if team.website != "" %}
          <a href="https://{{ team.website }}" target="_blank">
            <img class="social-icon" src="/static/img/site/pwebsite.svg" alt="Email" />
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
