@font-face {
  font-family: Edmondsans;
  src: url(/static/fonts/edmondsans-regular-webfont.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Edmondsans;
  src: url(/static/fonts/edmondsans-medium-webfont.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Edmondsans;
  src: url(/static/fonts/edmondsans-bold-webfont.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: southAfrica;
  src: url(/static/fonts/southafirkas.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-Bold.otf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-BoldItalic.otf);
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-Book.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-BookItalic.otf);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-BlackItalic.otf);
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-Black.otf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-Medium.otf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-MediumItalic.otf);
  font-style: italic;
  font-weight: 500;
}

/* Font weights */
/*
100 - Thin.
200 - Extra Light (Ultra Light)
300 - Light.
400 - Normal.
500 - Medium.
600 - Semi Bold
700 - Bold.
800 - Extra Bold (Ultra Bold)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fffae9;
}

a {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

a:hover {
  color: #010101;
}

header {
  background-color: #35ffce;
  height: 785px;
}

.mic {
  position: relative;
  width: 100px;
  height: 76px;
  left: 814px;
  top: 40px;
  background: url(/static/img/site/mic.svg);
}

.heading-title {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 243px;
  padding-right: 243px;
}

.heading-title .text {
  line-height: 34px;
  font-family: "southAfrica";
  font-size: 30px;
  color: #000000;
}

.sub-text {
  width: 953px;
  left: 244px;
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  overflow-wrap: break-word;
}

/* footer */
footer {
  height: 170px;
  background-color: #f9f1d6;
}

.container {
  max-width: 85%;
  margin-right: auto;
  margin-left: auto;
}

footer .content {
  padding-top: 30px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

.footer-logo {
  margin-bottom: 25px;
}

.icon {
  margin-left: 10px;
  margin-right: 10px;

  cursor: pointer;
}

footer .links {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  cursor: pointer;
  margin-left: 3px;
  margin-right: 3px;
}

.designer,
.link:hover {
  text-decoration: underline;
}
.djc-events a{
  text-decoration: none;
}
