@font-face {
  font-family: Edmondsans;
  src: url(/static/fonts/edmondsans-regular-webfont.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Edmondsans;
  src: url(/static/fonts/edmondsans-medium-webfont.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Edmondsans;
  src: url(/static/fonts/edmondsans-bold-webfont.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: southAfrica;
  src: url(/static/fonts/southafirkas.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-Bold.otf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-BoldItalic.otf);
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-Book.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-BookItalic.otf);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-BlackItalic.otf);
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-Black.otf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-Medium.otf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-MediumItalic.otf);
  font-style: italic;
  font-weight: 500;
}

/* Font weights */
/*
100 - Thin.
200 - Extra Light (Ultra Light)
300 - Light.
400 - Normal.
500 - Medium.
600 - Semi Bold
700 - Bold.
800 - Extra Bold (Ultra Bold)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fffae9;
}

a {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

a:hover {
  color: #010101;
}

.mic {
  position: relative;
  width: 100px;
  height: 76px;
  left: 814px;
  top: 40px;
  background: url(/static/img/site/mic.svg);
}

.heading {
  line-height: 34px;
  font-family: "southAfrica";
  font-size: 30px;
  color: #000000;
}

.sub-text {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  overflow-wrap: break-word;
}

/* footer */
footer {
  height: 170px;
  background-color: #f9f1d6;
}

.container {
  max-width: 1195px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.mini-container {
  width: 953px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

footer .content {
  padding-top: 30px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  margin-top: 150px;
}

.footer-logo {
  margin-bottom: 25px;
}

.icon {
  margin-left: 10px;
  margin-right: 10px;

  cursor: pointer;
}

footer .links {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  cursor: pointer;
  margin-left: 3px;
  margin-right: 3px;
}

.designer,
.link:hover {
  text-decoration: underline;
}

.djc-events a {
  text-decoration: none;
}

nav {
  background-color: transparent;
}

.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 20px 0;
  font-family: "Edmondsans";
  z-index: 100;
}

nav .date {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  text-align: left;

  color: #000000;
}

nav .button {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav button {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  background: #37ffce00;
  border: 2px solid #000000;
}

nav .ticket {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  text-transform: uppercase;
  padding: 5px 20px;
  color: #000000;
}

.proposal-button {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  text-transform: uppercase;
  padding: 5px 20px;
  color: #000000;
  border: 2px solid #000000;
  background-color: transparent;
  margin-top: 40px;
}

.proposal-post-button {
  font-family: "Edmondsans";
  justify-items: center;
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  text-transform: uppercase;
  padding: 5px 20px;
  color: #000000;
  border: 2px solid #000000;
  background-color: transparent;
  margin-top: 5px;
  margin-bottom: 15px;
}

.ticket-mb {
  display: none;
}

nav .hamburger {
  display: none;
}

nav .hamburger-mb {
  padding: 11px 9px;
}

nav .closeIcon {
  display: none;
  margin: 0 5px;
}

nav .menu {
  transition: transform 0.2s;
  top: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 60px;
  z-index: 2;
  max-width: 1195px;
  margin-right: auto;
  margin-left: auto;
}

nav .menu .menu__link {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding-bottom: 10px;
}

nav .menu .menu__link:hover,
nav .active {
  border-bottom: 2px solid #000000;
}

.menu__item-container {
  display: flex;
}

.menu__item--has-sublinks {
  padding-bottom: 0;
}

.menu__sublinks {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.menu__sublinks[aria-hidden="false"] {
  grid-template-rows: 1fr;
}

.menu__sublinks>div {
  overflow: hidden;
}

.menu__sublinks-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu__sublink {
  font-family: "Edmondsans";
  color: #676767;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0;
}

.menu__dropdown-icon {
  margin-left: 10px;
  margin-bottom: 10px;
  transition: rotate 0.3s ease;
}

@media only screen and (max-width: 1200px) {
  nav .hamburger {
    display: flex;
    padding: 11px 9px;
  }

  nav .menu {
    flex-direction: column;
    width: 100%;
    padding: 70px 30px 0 30px;
    position: absolute;
    transform: translateY(-100%);
    padding-bottom: 70px;
    background: #fffae9;
  }

  nav .showMenu {
    transform: translateY(0);
  }

  .menu__item {
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.05);
    padding-top: 20px;
    padding-bottom: 20px;
  }

  a.menu__link.menu__link--expandable {
    padding-bottom: 0;
  }

  .menu__sublinks-container> :first-child {
    padding-top: 10px;
  }
}

.hero {
  background-color: #35ffce;
  padding-bottom: 150px;
}

.hero-date {
  display: none;
}

.hero-text {
  padding: 0;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 73px;
  padding-top: 100px;
  width: 80%;
  margin-bottom: 10px;
}

.hero .description {
  display: flex;
  align-items: center;
  gap: 25px;
}

.hero .description .text {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  width: 500px;
  color: #000000;
}

.hero-empty {
  background: #fffae9;
  height: 470px;
}

.header-img {
  position: absolute;
  top: 570px;
}

.djc-default {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.djc-default .h1 {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 73px;
  color: black;
  width: 600px !important;
  /* 388px */
  margin-left: -30%;
  padding-top: 100px !important;
  padding-left: 98px;
  display: block;
}

.djc-default hr {
  display: none;
}

h2 {
  font-family: "southAfrica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  padding-top: 30px;
}

ul {
  list-style-type: " • ";
}

.info {
  font-family: "Circular Std";
  font-weight: 200;
  font-size: 40px;
  line-height: 64px;
  margin-top: 150px;
  margin-bottom: 100px;
  word-wrap: break-word;
}

.speaker,
.sponsors,
.roadmap-section {
  position: relative;
  margin-bottom: 90px;
}

.sponsors .sub-heading,
.roadmap .sub-heading {
  font-family: "Edmondsans";
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
}

.sponsors .sub-heading {
  margin-bottom: 20px;
}

.sponsor-section {
  margin-bottom: 60px;
}

.sponsor-images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.sponsor {
  padding: 12px 19px;
  width: auto;
}

.sponsor-heading {
  margin-top: 50px;
  font-family: "southAfrica";
  font-weight: 700;
  color: #e87155;
  font-size: 30px;
  line-height: 39px;
}

.sponsor-img {
  width: 50%;
  object-fit: cover;
}

.sponsor
img {
  width: 100%;
}

.roadmap {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.roadmap .month {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  border: 2px solid #000000;
  border-right: 2px solid #9f9f9f;
}

.roadmap .dates {
  width: 100%;
  border: 2px solid #000000;
  border-left: none;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;

  display: flex;
  flex-direction: column;
  gap: 13px;
}

.roadmap .dates .date {
  margin-left: 20px;

  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.roadmap a {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}

.dateAndIcon {
  display: flex;
  align-items: center;
}

.django {
  position: absolute;
  width: 84.64px;
  height: 83.25px;
  left: 160px;
  top: 1328px;
}

.sub-head-text {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 420;
  font-size: 24px;
  line-height: 33px;
  color: #000000;

  margin-bottom: 0;
  padding-top: 0;
}

.conference-information {
  padding-top: 40px;
}

.default {
  width: 1074px;
}

.default-hero {
  padding-bottom: 550px;
}

.default-img {
  position: absolute;
  margin-top: 65px;
  /* border: 5px solid #e87155; */
}

.default-hero-description {
  margin-top: 100px;
  margin-bottom: 52px;
  justify-content: space-between;
}

.default-heading {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 73px;
  color: #000000;
}

.default .description {
  display: flex;
  align-items: center;
  gap: 25px;
}

.default .description .text {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  width: 500px;
  color: #000000;
}

.talk-section {
  border: 3px solid black;
  padding: 30px 35px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-top: 30px;
}

#frequently-asked-questions {
  text-align: center;
}

.talk-section p {
  padding: 0 !important;
  margin: 0 !important;
}

.talks,
.about {
  margin-top: 200px;
}

.table-talk {
  width: 100%;
  margin-top: 100px;
  border: #000000 2px solid;
}

.talks {
  margin-bottom: 20px;
}

.talks-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.head-text {
  padding: 0;
}

.djc-default p:nth-child(n + 1) {
  padding-top: 30px;
  width: 100%;
}

.code-image {
  position: absolute;
  height: 86px;
  top: 0;
  right: 0;
}

/* center image */
.djc-default .default-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.hero-news {
  margin-top: -100px;
  margin-bottom: 97px;
}

/* .speaker-img {
  display: none;
} */

.news-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 995px;
  height: 548px;
}

.news-card {
  position: relative;
  top: 600px;
  width: 571px;
  height: 157px;
  left: 150px;
  background: #000000;
}

.news-title {
  padding-top: 30px;
  margin-left: 36px;
  font-family: "Circular Std";
  font-style: normal;
  font-size: 30px;
  color: #ffffff;
}

.news-pub {
  margin-top: 20px;
  margin-left: 36px !important;
  font-family: "Circular Std";
  font-size: 15px;
  color: #ffffff;
}

.all-news-title {
  margin-top: 60px;
  font-family: "Circular Std";
  font-style: normal;
  font-size: 30px;
  color: #000000;
}

.all-news-pub {
  margin-top: 20px;
  margin-bottom: 20px !important;
  font-family: "Circular Std";
  font-size: 15px;
  color: #e87155;
}

.news-excerpt {
  font-family: "Circular Std";
  font-style: normal;
  font-size: 16px;
  color: #6f6f6f;
}

.all-news-list {
  margin-left: 100px;
  margin-right: 100px;
}

.news-heading-link {
  text-decoration: none;
}

.news-banner {
  width: 100%;
  height: 643px;
  scale: fill;
  object-fit: cover;
}

.news-banner-text {
  position: absolute;
  top: 457px;
}

.news-banner-title {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 73px;
  color: #ffffff;
}

.news-banner-pub {
  height: 20px;
  left: 327px;
  top: 627px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.post-content {
  font-family: "Edmondsans";
  font-size: 20px;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.post-paragraph {
  width: 832px;
  height: 90px;
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.post-break {
  margin-top: 50px;
  margin-bottom: 30px;
}

.news-list-img {
  width: 488px;
  max-width: 100%;
  height: 314px;
  object-fit: cover;
}

/* .news-list-img {
  width: 100%;
  height: auto;
  object-fit: cover;
} */

.four_zero {
  padding-top: 24px;
  width: 132px;
  height: 69px;
  left: 654px;
  top: 446px;
  font-family: "southAfrica";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 69px;
  text-align: center;
  color: #000000;
  align-content: center;
}

.btn-four {
  margin: 0 auto;
  padding: 10px 0;
  width: 193px;
  height: 54px;
  display: inline-block;
  background: #fffae9;
  border: 2px solid #e0e0e0;
}

.btn-four a {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 420;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.four_zero_zero * {
  margin: auto;
}

.four_zero_title_1 {
  margin-top: 24px;
  margin-bottom: 12px;
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 420;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.four_zero_title_2 {
  font-family: "Edmondsans";
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.myDiv,
#inprogress,
#ready {
  display: none;
}

::placeholder {
  color: #585858;
}

#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #000000;
  border-radius: 100%;
  margin: auto;
  visibility: hidden;
  animation: spin 1s infinite linear;
}

#loading.display {
  visibility: visible;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.invite {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 20px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  color: #000000;
}

.invite:hover {
  background-color: #35ffce;
}

.notice {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding-top: 10x;
  padding-bottom: 10px;
  color: #a40404;
}

/* Organizer */
.container p {
  padding: 0px;
  margin: 0px;
}

.container .progress {
  color: white;
  width: 0%;
  height: 2px;
  border: none;
  margin-top: 5px;
  transition: width 0.4s ease-in-out;
}

.social-icon {
  /* filter: invert(94%) sepia(100%) saturate(0%) hue-rotate(260deg) brightness(106%) contrast(108%); */
  margin: 0;
  margin-right: 5px;
  margin-top: 15px;
}

.card {
  overflow: hidden;
  cursor: pointer;
}

.slide:hover .progress {
  width: 100%;
}

.main-card {
  display: grid;
  height: 350px;
  width: 30%;
  grid-template-rows: 73% 30%;
  background-color: #000;
  overflow: hidden;
  transition: width 2s;
  padding: 10px;
  padding-bottom: 30px;
  margin-bottom: 44px;
}

.main-card:hover {
  grid-template-rows: 50% 50%;
}

.content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-txt-bg {
  background-color: #000;
  color: white;
  overflow-y: hidden;
}

.role {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  height: 40px;
}

.team-name {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  margin-top: 20px;
}

.mobile-menu {
  display: none;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: #35ffce;
  /* Black fallback color */
  background-color: #85fddf;
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: bolder;
  display: block;
  color: #000000;
  transition: 0.3s;
  /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus,
.active {
  border-bottom: 2px solid #000000;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.icon-hero {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

/* delete */
.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.post-list-content {
  width: 100%;
  max-width: 400px;
  margin-right: 20px;
}

.post-title {
  margin-top: 0;
}

.post-excerpt {
  margin-bottom: 20px;
}

.post-img {
  margin-top: 5px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 834px;
  height: auto;
}

.post-image {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 300px;
  height: auto;
}

.space-mobile {
  display: none;
}

.latest {
  text-decoration: none;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 30px;
  color: #e87155;
  overflow-wrap: break-word;
}

/* .latest{
      text-decoration: none;
        margin-left: 36px;
        font-family: "Circular Std";
        font-style: normal;
        font-size: 30px;
        color: #E87155;
} */
.latest-pub {
  margin-top: 5px;
  font-family: "Circular Std";
  font-size: 15px;
  color: #000000;
}

.team-img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .ticket {
    display: none;
  }

  .ticket-mb {
    display: block;
  }

  .ticket-mb {
    font-family: "Edmondsans";
    font-style: normal;
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px 20px;
    color: #000000;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin: 30px 30px;
  }

  .dropdown-menu {
    left: 50% !important;
    transform: translateX(-50%) !important;
  }

  .space-mobile {
    display: block;
    text-align: center;
    padding-top: 100px;
  }

  .main-card {
    width: 100%;
    margin-bottom: 30px;
  }

  .news-img {
    width: 100%;
    margin-top: -100px;
    height: auto;
    margin-bottom: 30px;
  }

  .news-card {
    position: relative;
    top: 300px;
    width: 100%;
    max-width: 100%;
    padding-bottom: 30px;
    height: 100%;
    left: 0px;
    right: 0px;
    background: #000000;
  }

  .news-list-img {
    width: 100%px;
    height: 100%;
  }

  /* Delete */
  .post {
    flex-direction: column;
  }

  .post-list-content {
    max-width: 100%;
    margin-right: 0;
  }

  .post-image {
    max-width: 100%;
  }

  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  .news-banner-title {
    font-size: 45px;
    line-height: normal;
  }

  .news-banner-text {
    top: 400px;
  }

  .header-img img {
    width: 100%;
    height: 100%;
    padding-right: 30px;
    object-fit: cover;
    margin-top: 30px;
  }

  .hero {
    padding-bottom: 65px;
  }

  .date {
    display: none;
  }

  .nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 20px 0;
    font-family: "Edmondsans";
    z-index: 100;
  }

  .mobile-menu {
    display: block;
    margin-top: 10px;
    margin-bottom: 0;
    cursor: pointer;
    right: 0;
  }

  .header-logo {
    margin-left: 0px;
  }

  .mic {
    display: none;
  }

  .heading {
    font-size: 24px;
    line-height: 28px;
  }

  .sub-text {
    font-size: 16px;
    line-height: 24px;
  }

  footer {
    height: auto;
  }

  .container {
    max-width: 85%;
  }

  .mini-container {
    width: 85%;
  }

  footer .content {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
  }

  .footer-logo {
    margin-bottom: 10px;
  }

  .icon {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 24px;
  }

  footer .links {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .djc-events {
    padding-bottom: 50px;
  }

  .nav {
    padding: 10px 0;
  }

  nav .date {
    font-size: 14px;
    line-height: 18px;
  }

  .hero-empty {
    height: 24px;
  }

  .hero-date {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #e87155;
  }

  .hero-text {
    font-size: 40px;
    line-height: 50px;
    padding-top: 29px;
    width: 90%;
    margin-bottom: 10px;
  }

  /* hide arrow on mobile */
  .description img {
    display: none;
  }

  .hero .description {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .hero .description .text {
    font-size: 18px;
    line-height: 26px;
    width: 90%;
  }

  .django {
    display: none;
  }

  .speaker-img {
    display: block;
  }

  .djc-default .h1 {
    font-size: 50px;
    line-height: 50px;
    margin-left: -30% !important;
    width: 300px !important;
    padding-top: 45px !important;
    padding-bottom: 31px !important;
  }

  h2 {
    font-size: 24px;
    line-height: 28px;
  }

  .content-wrapper {
    margin-bottom: 50px;
  }

  .default .description {
    display: block;
    align-items: center;
  }

  .default-heading {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 700;
    color: black;
    width: 600px !important;
    /* 388px */
    display: block;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    width: 300px !important;
    margin-top: -45px !important;
    padding-bottom: 31px !important;
  }

  .default-img img {
    position: relative;
    margin-top: 65px;
    width: 100%;
  }

  .default-img {
    margin-top: -77px !important;
    position: absolute;
    margin-right: 7%;
    /* border: 5px solid #e87155; */
  }

  .default-hero {
    padding-bottom: 130px;
  }

  .text {
    width: 100% !important;
  }

  .talks,
  .about {
    margin-top: 100px;
  }

  .info {
    margin-top: 122px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word;
  }

  .info-news {
    font-family: "Circular Std";
    font-weight: 200;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .post-content {
    font-family: "Edmondsans";
    font-size: 18px;
    line-height: 26px;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .roadmap {
    flex-direction: column;
    border-left: 2px solid #000000;
  }

  .roadmap .month {
    width: 100%;
    justify-content: flex-start;
    padding-left: 20px;
    border: 2px solid #000000;
    border-bottom: none;
    border-left: none;
    font-size: 26px;
  }

  .code-image {
    top: 10px;
    right: 0;
    height: 50px;
  }

  .roadmap .dates .date {
    display: block;
    font-size: 16px;
    line-height: 23px;
  }

  .roadmap .dates {
    padding-left: 20px;
  }

  .roadmap-section {
    margin-top: 50px;
  }
}