@font-face {
  font-family: Edmondsans;
  src: url(/static/fonts/edmondsans-regular-webfont.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Edmondsans;
  src: url(/static/fonts/edmondsans-medium-webfont.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Edmondsans;
  src: url(/static/fonts/edmondsans-bold-webfont.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: southAfrica;
  src: url(/static/fonts/southafirkas.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-Bold.otf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-BoldItalic.otf);
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-Book.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-BookItalic.otf);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-BlackItalic.otf);
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-Black.otf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-Medium.otf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-MediumItalic.otf);
  font-style: italic;
  font-weight: 500;
}

/* Font weights */
/*
100 - Thin.
200 - Extra Light (Ultra Light)
300 - Light.
400 - Normal.
500 - Medium.
600 - Semi Bold
700 - Bold.
800 - Extra Bold (Ultra Bold)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fffae9;
}

a {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

a:hover {
  color: #010101;
}

.mic {
  position: relative;
  width: 100px;
  height: 76px;
  left: 814px;
  top: 40px;
  background: url(/static/img/site/mic.svg);
}

.heading {
  line-height: 34px;
  font-family: "southAfrica";
  font-size: 30px;
  color: #000000;
}

.sub-text {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  overflow-wrap: break-word;
}

/* footer */
footer {
  height: 170px;
  background-color: #f9f1d6;
}

.container {
  max-width: 1195px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.mini-container {
  width: 953px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

footer .content {
  padding-top: 30px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  margin-top: 150px;
}

.footer-logo {
  margin-bottom: 25px;
}

.icon {
  margin-left: 10px;
  margin-right: 10px;

  cursor: pointer;
}

footer .links {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  cursor: pointer;
  margin-left: 3px;
  margin-right: 3px;
}

.designer,
.link:hover {
  text-decoration: underline;
}
.djc-events a {
  text-decoration: none;
}

nav {
  background-color: #35ffce;
}

.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 20px 0;
  font-family: "Edmondsans";
  z-index: 100;
}

nav .date {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  text-align: left;

  color: #000000;
}

nav .button {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav button {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  background: #fffae9;
  border: 2px solid #000000;
}

nav .ticket {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  text-transform: uppercase;
  padding: 5px 20px;
  color: #000000;
}

nav .hamburger {
  padding: 11px 9px;
}

nav .closeIcon {
  display: none;
  margin: 0 5px;
}

nav .menu {
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #fffae9;
  padding-top: 160px;
  padding-bottom: 70px;
  padding-right: 250px;
  padding-left: 250px;
}

nav .showMenu {
  transform: translateY(0);
}

nav .menu .menuItem {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding-bottom: 10px;
}

nav .menu .menuItem:hover,
nav .active {
  border-bottom: 2px solid #000000;
}

.hero {
  background-color: #35ffce;
  padding-bottom: 150px;
}

.hero-text {
  padding: 0;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 73px;
  padding-top: 100px;
  width: 80%;
  margin-bottom: 10px;
}

.hero .description {
  display: flex;
  align-items: center;
  gap: 25px;
}

.hero .description .text {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  width: 500px;
  color: #000000;
}

.hero-empty {
  background: #fffae9;
  height: 470px;
}

.header-img {
  position: absolute;
  top: 570px;
}

.djc-default {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.djc-default .h1 {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 73px;
  color: black;
  width: 388px !important;
  margin-left: -30%;
  padding-top: 100px !important;
  display: block;
}

.djc-default hr {
  display: none;
}

h2 {
  font-family: 'southAfrica';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  padding-top: 30px;
}

ul {
  list-style-type:' • ';
}

.djc-default p:nth-child(n+1){ 
  padding-top: 30px;
  width: 832px;
} 


.django-svg {
  position: absolute;
  left: 380px;
  top: 1350px;
}

.info {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 64px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.speaker,
.sponsors {
  margin-bottom: 150px;
}

.sponsors .sub-heading {
  font-family: "Edmondsans";
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  margin-bottom: 20px;
}

.sponsor-section {
  margin-bottom: 60px;
}

.sponsor-images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.sponsor {
  background: #f9f1d6;
  padding: 12px 19px;
  width: auto;
}
