@font-face {
  font-family: Edmondsans;
  src: url(/static/fonts/edmondsans-regular-webfont.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Edmondsans;
  src: url(/static/fonts/edmondsans-medium-webfont.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Edmondsans;
  src: url(/static/fonts/edmondsans-bold-webfont.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: southAfrica;
  src: url(/static/fonts/southafirkas.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-Bold.otf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-BoldItalic.otf);
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-Book.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-BookItalic.otf);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-BlackItalic.otf);
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-Black.otf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-Medium.otf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Circular Std;
  src: url(/static/fonts/CircularStd-MediumItalic.otf);
  font-style: italic;
  font-weight: 500;
}

/* Font weights */
/*
100 - Thin.
200 - Extra Light (Ultra Light)
300 - Light.
400 - Normal.
500 - Medium.
600 - Semi Bold
700 - Bold.
800 - Extra Bold (Ultra Bold)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fffae9;
}

a {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

a:hover {
  color: #010101;
}

.mic {
  position: relative;
  width: 100px;
  height: 76px;
  left: 814px;
  top: 40px;
  background: url(/static/img/site/mic.svg);
}

.heading {
  line-height: 34px;
  font-family: "southAfrica";
  font-size: 30px;
  color: #000000;
}

.sub-text {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  overflow-wrap: break-word;
}

/* footer */
footer {
  height: 170px;
  background-color: #f9f1d6;
}

.container {
  max-width: 1195px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.mini-container {
  width: 953px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

footer .content {
  padding-top: 30px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  margin-top: 150px;
}

.footer-logo {
  margin-bottom: 25px;
}

.icon {
  margin-left: 10px;
  margin-right: 10px;

  cursor: pointer;
}

footer .links {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  cursor: pointer;
  margin-left: 3px;
  margin-right: 3px;
}

.designer,
.link:hover {
  text-decoration: underline;
}

.djc-events a {
  text-decoration: none;
}

nav {
  background-color: transparent;
}

.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 20px 0;
  font-family: "Edmondsans";
  z-index: 100;
}

nav .date {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  text-align: left;

  color: #000000;
}

nav .button {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav button {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  background: #fffae9;
  border: 2px solid #000000;
}

nav .ticket {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  text-transform: uppercase;
  padding: 5px 20px;
  color: #000000;
}

nav .hamburger {
  padding: 11px 9px;
}

nav .closeIcon {
  display: none;
  margin: 0 5px;
}

nav .menu {
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #fffae9;
  padding-top: 160px;
  padding-bottom: 70px;
  padding-right: 500px;
  padding-left: 500px;
}

nav .showMenu {
  transform: translateY(0);
}

nav .menu .menuItem {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding-bottom: 10px;
}

nav .menu .menuItem:hover,
nav .active {
  border-bottom: 2px solid #000000;
}

.hero {
  background-color: #35ffce;
  padding-bottom: 150px;
}

.hero-date {
  display: none;
}

.hero-text {
  padding: 0;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 73px;
  padding-top: 100px;
  width: 80%;
  margin-bottom: 10px;
}

.hero .description {
  display: flex;
  align-items: center;
  gap: 25px;
}

.hero .description .text {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  width: 500px;
  color: #000000;
}

.hero-empty {
  background: #fffae9;
  height: 470px;
}

.header-img {
  position: absolute;
  top: 570px;
}

.djc-default {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.djc-default .h1 {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 73px;
  color: black;
  width: 600px !important; /* 388px */
  margin-left: -30%;
  padding-top: 100px !important;
  padding-left: 98px;
  display: block;
}

.djc-default hr {
  display: none;
}

h2 {
  font-family: "southAfrica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  padding-top: 30px;
}

ul {
  list-style-type: " • ";
}

.info {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 64px;
  margin-top: 150px;
  margin-bottom: 100px;
}

.speaker,
.sponsors,
.roadmap-section {
  margin-bottom: 90px;
}

.sponsors .sub-heading,
.roadmap .sub-heading {
  font-family: "Edmondsans";
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
}

.sponsors .sub-heading {
  margin-bottom: 20px;
}

.sponsor-section {
  margin-bottom: 60px;
}

.sponsor-images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.sponsor {
  background: #f9f1d6;
  padding: 12px 19px;
  width: auto;
}

.roadmap {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.roadmap .month {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  border: 2px solid #000000;
  border-right: 2px solid #9f9f9f;
}

.roadmap .dates {
  width: 100%;
  border: 2px solid #000000;
  border-left: none;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;

  display: flex;
  flex-direction: column;
  gap: 13px;
}

.roadmap .dates .date {
  margin-left: 20px;

  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.roadmap a {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}

.django {
  position: absolute;
  width: 84.64px;
  height: 83.25px;
  left: 160px;
  top: 1328px;
}

.sub-head-text {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 420;
  font-size: 24px;
  line-height: 33px;
  color: #000000;

  margin-bottom: 0;
  padding-top: 0;
}

.default {
  width: 1074px;
}

.default-hero {
  padding-bottom: 550px;
}

.default-img {
  position: absolute;
  margin-top: 65px;
  border: 5px solid #e87155;
}

.default-hero-description {
  margin-top: 100px;
  margin-bottom: 52px;
  justify-content: space-between;
}

.default-heading {
  width: 187px;
  height: 73px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 73px;
  color: #000000;
}

.default .description {
  display: flex;
  align-items: center;
  gap: 25px;
}

.default .description .text {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  width: 500px;
  color: #000000;
}

.talk-section {
  border: 3px solid black;
  padding: 30px 35px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-top: 30px;
}

.talk-section p {
  padding: 0 !important;
  margin: 0 !important;
}

.talks,
.about {
  margin-top: 200px;
}

.table-talk {
  width: 100%;
  margin-top: 100px;
  border: #000000 2px solid;
}

.talks {
  margin-bottom: 20px;
}

.talks-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.head-text {
  padding: 0;
}

.djc-default p:nth-child(n + 1) {
  padding-top: 30px;
  width: 100%;
}

.code {
  position: relative;
  width: 77.72px;
  height: 86.64px;
  left: 750px;
  top: 90px;
  background: url(/static/img/site/code.svg);
}

/* center image */
.djc-default .default-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.hero-news {
  margin-top: -100px;
  margin-bottom: 97px;
}
.speaker-img{
  display: none;
}

.news-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 995px;
  height: 548px;
}

.news-card {
  position: relative;
  top: 600px;
  width: 571px;
  height: 157px;
  left: 150px;
  background: #000000;
}

.news-title {
  padding-top: 30px;
  margin-left: 36px;
  font-family: "Circular Std";
  font-style: normal;
  font-size: 30px;
  color: #ffffff;
}

.news-pub {
  margin-top: 20px;
  margin-left: 36px;
  font-family: "Circular Std";
  font-size: 15px;
  color: #ffffff;
}

.all-news-title {
  margin-top: 60px;
  font-family: "Circular Std";
  font-style: normal;
  font-size: 30px;
  color: #000000;
}

.all-news-pub {
  margin-top: 20px;
  font-family: "Circular Std";
  font-size: 15px;
  color: #000000;
}

.news-excerpt {
  font-family: "Circular Std";
  font-style: normal;
  font-size: 16px;
  color: #6f6f6f;
}

.all-news-list {
  margin-left: 100px;
  margin-right: 100px;
}

.news-heading-link {
  text-decoration: none;
}

.news-banner {
  width: 100%;
  height: 643px;
  scale: fill;
  object-fit: cover;
}

.news-banner-text {
  position: absolute;
  top: 457px;
}

.news-banner-title {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 73px;
  color: #ffffff;
}
.news-banner-pub {
  height: 20px;
  left: 327px;
  top: 627px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.post-content {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.post-image {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 834px;
  height: auto;
}

.post-paragraph {
  width: 832px;
  height: 90px;
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.post-break {
  margin-top: 50px;
  margin-bottom: 30px;
}

.news-list-img {
  width: 488px;
  height: 314px;
  object-fit: cover;
}

.four_zero {
  padding-top: 24px;
  width: 132px;
  height: 69px;
  left: 654px;
  top: 446px;
  font-family: "southAfrica";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 69px;
  text-align: center;
  color: #000000;
  align-content: center;
}

.btn-four {
  margin: 0 auto;
  padding: 10px 0;
  width: 193px;
  height: 54px;
  display: inline-block;
  background: #fffae9;
  border: 2px solid #e0e0e0;
}

.btn-four a {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 420;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.four_zero_zero * {
  margin: auto;
}

.four_zero_title_1 {
  margin-top: 24px;
  margin-bottom: 12px;
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 420;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.four_zero_title_2 {
  font-family: "Edmondsans";
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.myDiv,
#inprogress,
#ready {
  display: none;
}

::placeholder {
  color: #585858;
}

#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #000000;
  border-radius: 100%;
  margin: auto;
  visibility: hidden;
  animation: spin 1s infinite linear;
}

#loading.display {
  visibility: visible;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.invite {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 20px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  color: #000000;
}

.invite:hover {
  background-color: #35ffce;
}

.notice {
  font-family: "Edmondsans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding-top: 10x;
  padding-bottom: 10px;
  color: #a40404;
}

/* Organizer */
.container p {
  padding: 0px !important;
  margin: 0px;
}

.container a {
  text-decoration: none;
}

.container .progress {
  color: white;
  width: 0%;
  height: 2px;
  border: none;
  margin-top: 5px;
  transition: width 0.4s ease-in-out;
}

.social-icon {
  /* filter: invert(94%) sepia(100%) saturate(0%) hue-rotate(260deg) brightness(106%) contrast(108%); */
  margin: 0;
  margin-right: 5px;
  margin-top: 15px;
}

.card {
  overflow: hidden;
  cursor: pointer;
}

.slide:hover .progress {
  width: 100%;
}

.main-card {
  display: grid;
  height: 337px;
  width: 280px;
  grid-template-rows: 75% 25%;
  outline: 10px solid #000;
  background-color: #000;
  gap: 10px;
  overflow: hidden;
  transition: width 2s;
}

.main-card:hover {
  display: grid;
  height: 337px;
  width: 280px;
  grid-template-rows: 50% 50%;
  outline: 10px solid #000;
  background-color: beige;
  overflow: hidden;
}

.content-wrapper {
  height: 100%;
  width: calc(100%);
  display: flex;
  margin-left: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4vmax;
}

.card-txt-bg {
  padding-top: 10px;
  background-color: #000;
  color: white;
  overflow-y: hidden;
}

.role {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.team-name {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}

.mobile-menu {
  display: none;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: #35ffce; /* Black fallback color */
  background-color: #85fddf; /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: bolder;
  display: block;
  color: #000000;
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus,
.active {
  border-bottom: 2px solid #000000;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* Mobile */
@media only screen and (max-width: 599px) {
  .header-img img {
    width: 100%;
    height: 100%;
    padding-right: 30px;
    object-fit: cover;
    margin-top: 30px;
  }

  .hero {
    padding-bottom: 65px;
  }

  .hamburger {
    display: none;
  }
  .date {
    display: none;
  }

  .nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 20px 0;
    font-family: "Edmondsans";
    z-index: 100;
  }

  .mobile-menu {
    display: block;
    margin-top: 10px;
    margin-bottom: 0;
    cursor: pointer;
    right: 0;
  }

  .header-logo {
    margin-left: 20px;
  }

  .mic {
   display: none;
  }

  .heading {
    font-size: 24px;
    line-height: 28px;
  }

  .sub-text {
    font-size: 16px;
    line-height: 24px;
  }

  footer {
    height: auto;
  }

  .container {
    max-width: 85%;
  }

  .mini-container {
    width: 85%;
  }

  footer .content {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
  }

  .footer-logo {
    margin-bottom: 10px;
  }

  .icon {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 24px;
  }

  footer .links {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .djc-events {
    padding-bottom: 50px;
  }

  .nav {
    padding: 10px 0;
  }

  nav .date {
    font-size: 14px;
    line-height: 18px;
  }

  .hero-empty {
    height: 24px;
  }

  .hero-date {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #e87155;
  }
  .hero-text {
    font-size: 40px;
    line-height: 50px;
    padding-top: 29px;
    width: 90%;
    margin-bottom: 10px;
  }

  /* hide arrow on mobile */
  .description img {
    display: none;
  }

  .hero .description {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .hero .description .text {
    font-size: 18px;
    line-height: 26px;
    width: 90%;
  }

  .django {
    position: absolute;
    width: 58.64px;
    height: 83.25px;
    margin-top: 30px;
    left: 166px;
    top: 760px;
}

.speaker-img{
  display: block;
}

  .djc-default .h1 {
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    width: 300px !important;
    padding-top: 45px !important;
    padding-bottom: 31px !important;
  }

  h2 {
    font-size: 24px;
    line-height: 28px;
  }

  .content-wrapper {
    margin-bottom: 50px;
  }

  .default .description {
    display: block;
    align-items: center;
  }

  .default-heading {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 700;
    color: black;
    width: 600px !important; /* 388px */
    display: block;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    width: 300px !important;
    margin-top: -45px !important;
    padding-bottom: 31px !important;
  }

  .default-img img {
    position: relative;
    margin-top: 65px;
    width: 100%;
  }

  .default-img {
    margin-top: -47px !important;
    position: absolute;
    margin-right: 7%;
    border: 5px solid #e87155;
  }

  .default-hero {
    padding-bottom: 130px;
  }
  .text {
    width: 100% !important;
  }

  .talks,
  .about {
    margin-top: 100px;
  }

  .info{
    text-align: justify;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
   
  }

  
}

@media only screen and (min-width: 669px) and (max-width:769px){
  body{
    overflow-x: hidden;
  }

  .header-img img {
    width: 100%;
    height: 100%;
    padding-right: 30px;
    object-fit: cover;
    margin-top: 5px;
  }

  .hero {
    padding-bottom: 130px;
  
  }

  .hero-empty {
  height: 250px;
}

  nav .hamburger {
    padding: 11px 9px;
  }


  nav .menu{
    padding-left: 288px;
  }

.container {
  width: 90%;


}

.hero-text {
  font-weight: 800;
  font-size: 55px;
  line-height: 73px;
  padding-top: 44px;
  margin-bottom: 10px;
}

/* show arrow on Tablet */
.description img {
  display:block;
  width: 50%;
}

.django {
  top: 971px;
  left: 55px;
}

.mini-container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  /* padding: 0; */
}
.info{
  text-align: justify;
  margin-bottom: 25px;
  font-size: 30px;
  margin-top: 50px;

 
}
.mic{
  left: 513px;
  top: 40px;
}

}
